---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Features from "@components/features.astro";
import Others from "@components/others.astro";
import Hero from "@components/hero.astro";
import Newsletter from "@components/newsletter.astro";
import Testimonials from "@components/testimonials.astro";

import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("en");
---


<Layout  title="TikTokio - TikTok Downloader Download TikTok Videos Mp4 Free" description="Tiktokio is tiktok downloader, tiktok video downloader and tiktok story downloader download tiktok video without watermark, tiktok to mp4 and tiktok video saver.">
<Container>
    <Hero heading="Tiktokio - TikTok Downloader" subheading="Download TikTok Video Without Watermark Tiktok to mp4"/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
		<Others />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
