
---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const ad = [
	
];
---

<div class="relative p-8">


    <script type="text/javascript">
	atOptions = {
		'key' : '34573b90a095e95e849f42bc513a1ec8',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//lockupaccede.com/34573b90a095e95e849f42bc513a1ec8/invoke.js"></script>

     </div>
