---
import LanguageSelector from "@components/languageselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import ThemeSelector from "@components/themeselector.astro";
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<footer class="pb-12 pt-28 dark:bg-stone-950">

<section class="pt-16 pb-7 ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 xl:gap-24 pb-14 border-b-2 border-gray-200">
        <div class="block w-full lg:max-w-full max-lg:mx-auto">
          <div class="flex flex-col gap-8 w-full lg:max-w-xs ">
            <a aria-current="page" class="flex items-center" href="/"> <img class="h-7 w-auto" src="/images/logo-tiktokio.webp" alt="Tiktokio logo"> <p class="sr-only">Tiktokio</p> </a>
            <p class="text-base font-normal text-gray-600 max-[470px]:text-center">
              Trusted in more than 100 countries & 5 million customers. Follow us on social media.
            </p>
            
          </div>
        </div>
        <div
          class="w-full mx-auto flex flex-col min-[470px]:flex-row max-[470px]:items-center min-[470px]:justify-between gap-6 sm:gap-10 xl:gap-24">
          <div class="">
            <h6 class="text-lg font-medium text-gray-900 mb-7 max-[470px]:text-center">Pagedone</h6>
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Home</a>
              </li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">About</a>
              </li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Pricing</a>
              </li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Pro
                  Version</a></li>
            </ul>
          </div>
          <div class="">
            <h6 class="text-lg font-medium text-gray-900 max-[470px]:text-center mb-7">Products</h6>
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Figma
                  UI System</a></li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Icons
                  Assets</a></li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Responsive
                  Blocks</a></li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Components
                  Library</a></li>
            </ul>
          </div>
          <div class="">
            <h6 class="text-lg font-medium text-gray-900 max-[470px]:text-center mb-7">Resources</h6>
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">FAQs</a>
              </li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Quick
                  Start</a></li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Documentation</a>
              </li>
              <li><a href="javascript:;"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">User
                  Guide</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col-reverse gap-5 md:flex-row items-center first-letter:items-center justify-between pt-7">
        <p class="font-normal text-sm text-gray-500">©<a href="https://pagedone.io/">pagedone</a>2023, All rights reserved.</p>
        <ul class="flex items-center gap-9">
          <li><a href="javascript:;"
              class="text-gray-500 text-sm font-normal transition-all duration-300 hover:text-indigo-600 focus-within:text-indigo-600 focus-within:outline-0">Terms</a>
          </li>
          <li><a href="javascript:;"
              class="text-gray-500 text-sm font-normal transition-all duration-300 hover:text-indigo-600 focus-within:text-indigo-600 focus-within:outline-0">Privacy</a>
          </li>
          <li><a href="javascript:;"
              class="text-gray-500 text-sm font-normal transition-all duration-300 hover:text-indigo-600 focus-within:text-indigo-600 focus-within:outline-0">Cookies</a>
          </li>
        </ul>

      </div>
    </div>
  </section>




</footer>
