
---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const others = [
	
];
---



---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

---


<div class="relative p-8">
    <div class="max-w-7xl mx-auto">
		<h2 class="text-gray-900 font-semibold text-2xl">{t("features.title_photo_down")}</h2>
		 <p class="text-base leading-8 my-5">
                   {t("features.tiktok_photo_text1")} <a href="/download-tiktok-photo" class="group">{t("features.title_photo_downloader")}</a> {t("features.tiktok_photo_text2")} <a href="/download-tiktok-photo" class="group">{t("features.title_photo_downloader")}</a>
                </p>
		<h2 class="text-gray-900 font-semibold text-2xl">{t("features.title_story_down")}</h2>
		<p class="text-base leading-8 my-5">{t("features.tiktok_story_text1")} <a href="/tiktok-story-downloader" class="group">{t("features.title_story_link")}</a> {t("features.tiktok_story_text2")}</p>
		<p class="text-base leading-8 my-5">{t("features.tiktok_story_text3")} <a href="/tiktok-story-downloader" class="group">{t("features.title_story_downloader")}</a> {t("features.tiktok_story_text4")}</p>
     </div>
</div>
